h1{
    border-bottom: solid black 1px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
    color: #434242;
    text-align: center;
    margin: 0;
    padding: 10px;
}
ol{
    color: #6AAFE6;
}
